.flat-button {
  color: #ffd700;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ffd700;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;
  background: transparent;
  cursor: pointer;
}

.flat-button:hover {
  background: #ffd700;
  color: #333;
}

.contact-form .flat-button {
  color: #ffd700;
  background: 0 0;
  font-size: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #ffd700;
  float: right;
  border-radius: 4px;
}

