@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neu.ttf') format('ttf');
}

@font-face {
  font-family: 'La Belle Aurore';
  src: url('/fonts/LaBelleAurore.woff2') format('woff2');
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/CoolveticaRg-Regular.woff2') format('woff2');
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: #022c43;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  font-family: 'Helvetica Neue';
}

/* Page styles */
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 60px;
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore';
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  width: 100%;
  will-change: contents;
  min-height: 566px;
  position: relative;
  opacity: 0;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

/* Animated letters */
.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;
}

.text-animate-hover:hover {
  animation: rubberBand 1s;
  color: #ffd700;
}

.text-animate,
.text-animate-hover {
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
}

.text-animate._1 { animation-delay: 0.043s; }
.text-animate._2 { animation-delay: 0.087s; }
.text-animate._3 { animation-delay: 0.13s; }
.text-animate._4 { animation-delay: 0.174s; }
.text-animate._5 { animation-delay: 0.217s; }
.text-animate._6 { animation-delay: 0.261s; }
.text-animate._7 { animation-delay: 0.304s; }
.text-animate._8 { animation-delay: 0.348s; }
.text-animate._9 { animation-delay: 0.391s; }
.text-animate._10 { animation-delay: 0.435s; }
.text-animate._11 { animation-delay: 0.478s; }
.text-animate._12 { animation-delay: 0.522s; }
.text-animate._13 { animation-delay: 0.565s; }
.text-animate._14 { animation-delay: 0.609s; }
.text-animate._15 { animation-delay: 0.652s; }
.text-animate._16 { animation-delay: 0.696s; }
.text-animate._17 { animation-delay: 0.739s; }
.text-animate._18 { animation-delay: 0.783s; }
.text-animate._19 { animation-delay: 0.826s; }
.text-animate._20 { animation-delay: 0.87s; }
.text-animate._21 { animation-delay: 0.913s; }
.text-animate._22 { animation-delay: 0.957s; }
.text-animate._23 { animation-delay: 1s; }
.text-animate._24 { animation-delay: 1.043s; }
.text-animate._25 { animation-delay: 1.087s; }
.text-animate._26 { animation-delay: 1.13s; }
.text-animate._27 { animation-delay: 1.174s; }
.text-animate._28 { animation-delay: 1.217s; }
.text-animate._29 { animation-delay: 1.261s; }
.text-animate._30 { animation-delay: 1.304s; }
.text-animate._31 { animation-delay: 1.348s; }
.text-animate._32 { animation-delay: 1.391s; }
.text-animate._33 { animation-delay: 1.435s; }
.text-animate._34 { animation-delay: 1.478s; }
.text-animate._35 { animation-delay: 1.522s; }
.text-animate._36 { animation-delay: 1.565s; }
.text-animate._37 { animation-delay: 1.609s; }
.text-animate._38 { animation-delay: 1.652s; }
.text-animate._39 { animation-delay: 1.696s; }
.text-animate._40 { animation-delay: 1.739s; }
.text-animate._41 { animation-delay: 1.783s; }
.text-animate._42 { animation-delay: 1.826s; }
.text-animate._43 { animation-delay: 1.87s; }
.text-animate._44 { animation-delay: 1.913s; }
.text-animate._45 { animation-delay: 1.957s; }
.text-animate._46 { animation-delay: 2s; }

.text-animate-hover:hover {
  color: #fff;
}

/* Logo container */
.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 0;
}

.logo-container svg {
  width: 100%;
  height: auto;
  bottom: 0;
  transform: rotateZ(30deg) !important;
}

.logo-container .solid-logo {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  margin: auto;
  width: 100%;
  opacity: 0;
  transform: rotateZ(30deg);
  z-index: 1;
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10px;
}

/* Loader */
.loader-active {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  animation: fadeOut 1s 1s;
  animation-fill-mode: forwards;
}
