/* Sidebar styles */
.nav-bar {
  background: #181818;
  width: 80px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 20px 0;
}

.nav-bar .logo {
  display: block;
  padding: 8px 0;
  width: 50%;
  text-align: center;
}

.nav-bar .logo img {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: auto;
}

.nav-bar .logo img.sub-logo {
  width: 50px;
}

.nav-bar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
  flex: 1;
}

.nav-bar nav a {
  font-size: 16px;
  color: #4d4d4e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  padding: 0;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.nav-bar nav a svg {
  font-size: 16px;
}

.nav-bar nav a:hover {
  color: #ffd700;
  transform: scale(1.1);
}

.nav-bar nav a.active {
  color: #ffd700;
  transform: scale(1);
}

.nav-bar nav a:hover svg {
  opacity: 0;
}

.nav-bar nav a:hover::after {
  opacity: 1;
}

.nav-bar nav a::after {
  content: '';
  font-size: 9px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.nav-bar nav a:first-child::after {
  content: 'HOME';
}

.nav-bar nav a.about-link::after {
  content: 'ABOUT';
}

.nav-bar nav a.contact-link::after {
  content: 'CONTACT';
}

.nav-bar nav a.active svg {
  color: #ffd700;
}

.nav-bar ul.social-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
  gap: 20px;
}

.nav-bar ul.social-links li {
  width: 30%;
}

.nav-bar .social-links a {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 1;
  color: #4d4d4e;
  transition: all 0.3s ease-out;
}

.nav-bar .social-links a svg {
  font-size: 13px;
}

.nav-bar .social-links a:hover {
  color: #ffd700;
  transform: scale(1.1);
}

